*.o
gmon.out
/lib3DMagic.a
/images/
/demo/field/Field
/VS/
/bullet/
/models/
/lib3ds/
Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
/Test/3DMagic_Tests
*~
/demo/sandbox
/tags
/external

# visual studio ignores
*.vcxproj.user
*.v11.suo
*.sdf
*.opensdf
debug/
release/
/VS2012/*/*.vspx
/VS2012/*/*.psess
